$bingfree-main: #1456fd;
$bingfree-point: #e9ff54;
$bingfree-sub: #1651da;
$bingfree-price: red;

$main-icon-drop: 2px 2px 4px 0px rgba(0, 0, 0, 0);
$main-icon-inner: 1px 1px 5px 0px rgba(255, 255, 255, 1), inset -3px -1px 10px 0px rgba(0, 0, 0, 0);
$sub-black: #212121;

.bingfree-main {
  color: $bingfree-main;
}
.bingfree-point {
  color: $bingfree-point;
}
.bingfree-sub {
  color: $bingfree-sub;
}
.main-icon-drop {
  box-shadow: $main-icon-drop;
}
.main-icon-inner {
  box-shadow: $main-icon-inner;
}

@mixin text-style($size, $weight) {
  font-size: $size;
  font-weight: $weight;
  line-height: 1.2 !important;
  white-space: pre-line;
}

.main-h1 {
  @include text-style(50px, 700);
}
.main-h2 {
  @include text-style(38px, 600);
}
.main-h3 {
  @include text-style(30px, 600);
}
.main-h4 {
  @include text-style(24px, 500);
}
.main-h5 {
  @include text-style(22px, 400);
}
.main-h6 {
  @include text-style(20px, 400);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main-h1 {
    @include text-style(33px, 600);
  }
  .main-h2 {
    @include text-style(30px, 500);
  }
  .main-h3 {
    @include text-style(30px, 500);
  }
  .main-h4 {
    @include text-style(24px, 300);
  }
  .main-h5 {
    @include text-style(20px, 300);
  }
  .main-h6 {
    @include text-style(16px, 300);
  }
}
@media (max-width: 767px) {
  .main-h1 {
    @include text-style(30px, 600);
  }
  .main-h2 {
    @include text-style(24px, 500);
  }
  .main-h3 {
    @include text-style(20px, 500);
  }
  .main-h4 {
    @include text-style(16px, 300);
  }
  .main-h5 {
    @include text-style(16px, 300);
  }
  .main-h6 {
    @include text-style(15px, 700);
  }
}
